<header id="site-header">
  <a href="/" id="tox-logo">Tox</a>
  <label for="mobile-menu-display" id="mobile-menu-trigger"><span class="mdi mdi-menu md-28"></span></label>
  <input type="checkbox" id="mobile-menu-display" >
  @include('partials.menu')
</header>
